
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0; 
    text-decoration: none;
    
}

body {
   background-color: #3B3B1A;
}
:root {
    --tamanho-fonte-titulo: 9.5rem;
    --tamanho-fonte-paragrafo: 2rem;
    --fonte-yeseva: "Yeseva One", serif;
    --fonte-oswald: "Oswald", sans-serif;
    --fonte-bebas: "Bebas Neue", sans-serif;

    --font-color: #E7EFC7;
    --button-color: #8A784E;
    --font-button-color: #AEC8A4;
    

}

