/* ESTILO DO SOBRE MIM */

.sobre_main {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content:center;
    align-items: center;
    margin: 5% 0 0 0;
    padding: 5% 0;
    background-color: var(--fundo-form);
}

.formacao {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--font-color);
    margin:2% 10% 5% 10%; 
}
h1 {
    text-align: center;
    justify-content: center;
    font-family: var(--fonte-oswald);
    font-size: var(--tamanho-fonte-paragrafo);
    color: var(--font-color);
    text-transform: uppercase;
}

li {
    font-size: 1.7rem;
    text-transform: uppercase;
}